$color1: rgb(32,33,36);
$color2: rgb(77, 81, 86);
$color3: rgb(119, 121, 125);
$button_color: #3079ed;
$button_hover: #8ab4f8;
$font_color: #969ba1;
$advanced_search: #f28b82;
body{
    background-color: $color1;
}
#search_bar{
    background-color: $color2;
}
#search_bar:hover{
    background-color:$color3;
}
p{
    margin: 15px;
    text-align: end;
}
a{
    margin-left: 0.2%;
    margin-right: 0.2%;
}
#logo{
    margin-top: 8%;
}
#search_bar{
    display: block;
    width: 30%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
}
button{
    margin-left: 0.5%;
    margin-right: 0.5%;
}
.btn:hover{
    border: 1px solid white;
}
#advanced_logo{
    margin: 15px;
    width: 10%;
}
#go_back{
    display: block;
    margin: 2%;
}
div>a{
    text-align: end;
}
h3{
    margin: 1%;
    color: $advanced_search;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    background-color: black;
    height: 3px;
    border: none;
}
#final_button{
    font-family: Arial, sans-serif;
    background-color: $button_color;
}
#final_button:hover{
    background-color: $button_hover;
    border: 1px solid white;
}
.row{
    color: $font_color;
    text-align: left;
}
h5{
    margin: 1%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.col-6{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}
.adv{
    background-color: $color2;
}
.adv:hover{
    background-color:$color3;
}